doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Battery Report || Parking
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.parking-nav
  .nav-wrapper
    a.nav-link-logo(href='#')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/dashboard')
      span Dashboard
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-report
  .parking-report-details 
    h3.parking-title Battery Entries
    h3
      button.btn.btn-primary
        a.nav-link(href='/battery') New Entry
    h3
      button.btn.btn-primary(type='submit' onclick="window.print()") Print Report
  table.parking-table(style='width:100%')
    tr
      th Battery Size 
      th Name 
      th Phone Number 
      th Battery Fee
      th Modify
    
    if batteries.length 
    each battery in batteries
     tr
      td #{battery.batterysize}
      td #{battery.name}
      td #{battery.phonenumber}
      td #{battery.batteryfee}
      td
        .modify-btn
          //- button.btn-primary(type="button") Edit
          form(method="get" action="/deleteBattery/"+battery._id)
            //- console.log(#{battery._id})
            input(type="hidden" name="delete" value=battery._id)
            button.btn-primary(type="submit" value="submit") Delete