doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parking Report || Parking
  script(src='https://kit.fontawesome.com/ec067d744e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/styles.css')
.parking-nav
  .nav-wrapper
    a.nav-link-logo(href='/')
      i.fas.fa-car
      span Parkville
  .nav-wrapper-mid
    a.nav-link(href='/dashboard')
      span Dashboard
    a.nav-link(href='#')
      span Customer Details
  .nav-wrapper-log
    a(href='/')
      i.fas.fa-power-off
      span LogOut
.parking-report
  .parking-report-details 
    h3.parking-title Car Parking Entries
    h3
      button.btn.btn-primary
        a.nav-link(href='/parking') New Entry
  table.parking-table(style='width:100%')
    tr
      th Name
      th No. Plate
      th Car Type
      th Arrival Time
      th Parking Time
      th Parking Fee
    
    if parkings.length 
    each parking in parkings
     tr
      td #{parking.name}
      td #{parking.numberplate}
      td #{parking.cartype}
      td #{parking.arrivaltime}
      td #{parking.parkingtime}
      td #{parking.parkingfee}
     tr